body {
  background-color: black;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header div {
  margin: 0px 20px;
}

.header_logo img {
  width: 50px;
  height: 50px;
}

/* Lista de opciones */

.header_options {
  width: 100%;
  height: 60px;
  background-color: #ff6600;
  color: #fff;
  font-size: 20px;
  align-items: center;
  text-align: center;
}

.header_options ul {
  list-style: none;
}

.header_options ul li {
  display: inline-block;
  padding:  18.5px;
}

.header_options ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.header_options ul li:hover {
  background-color: #302e2c;
}

.headerTitle {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.screen {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  text-align: right;
  font-size: 40px;
  font-weight: bold;
  height: 100px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button-container button {
  width: 65px;
  height: 70px;
  border: none;
  color: #ffffff;
  background-color: #3b373777;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  margin: 5px;
}

/* Especificos */

#operacion {
  width: 95%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 40px;
  font-weight: bold;
  text-align: right;
  padding-right: 0px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#btnChangeMode img {
  width: auto;
  height: 20px;
  fill: white;
}

.row-1 button {
  color: #ff6600;
}

.row-2 #btnSuma {
  color: #ff6600;
}

.row-3 #btnResta {
  color: #ff6600;
}

.row-4 #btnMultiplicacion {
  color: #ff6600;
}

.row-5 .btnE {
  color: #ffffff;
  background-color: #ff6600;
}

/* Animaciones */

@keyframes cursor-blink {
  0%,
  50% {
    border-right: 2px solid rgb(0, 140, 255);
  }
  100% {
    border-right: 2px solid transparent;
  }
}

#operacion {
  caret-color: transparent;
  animation: cursor-blink 1s infinite;
}
